venv/
django_backend/e_ikiraro/__pycache__
# django_backend/django_backend/__pycache__
# *.pyc
# *.pyo
# *.pyd
django_backend/django_backend/__pycache__/settings.cpython-310.pyc
__pycache__/
*.sqlite3