# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.sqlite3

# Local environment files (do not commit)
django_backend/.env
/.env
client_secret_*.json

# VSCode
.vscode/