/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    overflow-y: auto;  
    max-height: 90vh;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color:#b000a2
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-label {
    font-weight: bold;
    color: #5b5b5b;  /* Change the label color here */
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="tel"],
textarea,
select {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: #333;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #b000a2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b000a2;
}

/* Placeholder text style */
input::placeholder,
textarea::placeholder {
    color: #bbb;
}
