{% extends "users/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="login-container">
        <h2>Login to E-ikiraro</h2>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
                {% load socialaccount  %}
            </fieldset>
                <button type="submit" class="btn btn-primary rounded-pill">Login</button>
                <center>Or</center>
                <a class="link" href="{% provider_login_url 'google' %}">Sign in with Google</a>

        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Don't have an account? <a class="ml-1" href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
    </div>

{% endblock content %}
